/** Buttons */
.btn {
  border: 1px solid $df-btn-border;
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: 11px;

  i,
  img {
    position: relative;
    top: 2px;
  }

  i {
    font-size: 20px;
  }

  .arrow {
    display: inline-block;
    width: 24px;
    height: 10px;
    background: url('./images/arrow.png') no-repeat;
    margin-left: 25px;
    position: relative;
    left: 9px;
    opacity: 0.7;
  }

  &:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.4) !important;

    .arrow {
      opacity: 1;
    }
  }

  &.btn-light {
    background: $df-btn-light-bg;
    color: $df-btn-light-color;
  }

  &.btn-dark {
    background: $df-btn-dark-bg;
    color: #fff;
  }
}

.btn-cart {
  text-transform: uppercase;
  border: 1px solid #303030;
  text-align: center;
  padding: 7px 20px;
  color: #303030;
  font-size: 11px;

  &:hover {
    background: #2c2c2c;
    color: #fff !important;
    text-decoration: none;
  }
}
