/** Buttons */
.btn {
  border: 1px solid $df-btn-border;
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: 11px;
  cursor: pointer;

  i,
  img {
    position: relative;
    top: 2px;
  }

  i {
    font-size: 20px;
  }

  .arrow {
    display: inline-block;
    width: 24px;
    height: 10px;
    background: url('./images/arrow.png') no-repeat;
    margin-left: 25px;
    position: relative;
    left: 9px;
    opacity: 0.7;
  }

  &:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.4) !important;

    .arrow {
      opacity: 1;
    }
  }

  &.btn-light {
    background: $df-btn-light-bg;
    color: $df-btn-light-color;
  }

  &.btn-dark {
    background: $df-btn-dark-bg;
    color: #fff;

    &:hover {
      background: #7a7a7a !important;
    }
  }

  &.add-to-cart {
    padding: 4px 30px;
    font-weight: 600;
    font-size: 12px;

    &:hover {
      background: $df-btn-dark-bg !important;
      color: #fff;
    }
  }
}

.btn-cart {
  text-transform: uppercase;
  border: 1px solid #303030;
  text-align: center;
  padding: 7px 20px;
  color: #303030;
  font-size: 11px;

  &:hover {
    background: #2c2c2c;
    color: #fff !important;
    text-decoration: none;
  }
}

.wpcf7-submit {
  width: auto !important;
  background: $df-btn-dark-bg;
  color: #fff;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
